
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer {
    flex-shrink: 0;
}
.nav-bg-color{
    background-color: #42e442;
    color: #ffffff;
}
.div-gray {
    background-color: #e6e6e6;
}

.div-white {
    background-color: #ffffff;
}
.page-header {
    background-color:#008e48 ;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
.about-sidebar-indicator{
    border-right: 6px solid #008e48;
    height: 50px;
    color:#008e48;
}
.navbar-indicator{
    border-bottom: 3px solid #00cc44;
    color:#00cc44;
}
.about-div-sizing{
    
    padding:10px;

}
.about-heading {
    font-size: 30px;
  }

