html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    background-color:#ebebeb;

}

.footer {
    flex-shrink: 0;
}
.page-header {
    background-color: #008e48;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.page-content{
    background-color:#ebebeb;
    padding: 50px;
}
.menu-bar {
    display: flex;
    justify-content: center;
    background-color: #006600;
    color: white;
}

.menu-item {
    padding: 20px 20px;
    cursor: pointer;
    font-size: 20px;
}

.menu-bar a {
    color: white;
    text-decoration: none;
}
.menu-item:hover {
    color: #42e442;
    border-bottom: 2px solid #42e442;
}
.menu-item.active {
    color: #42e442;
    border-bottom: 2px solid #42e442;
}

.div-gray {
    background-color: #e6e6e6;
}

.div-white {
    background-color: #ffffff;
}


.sidebar-indicator {
    border-right: 6px solid #008e48;
    height: 50px;
    color: #008e48;
}

.navbar-indicator {
    border-bottom: 3px solid #00cc44;
    color: #00cc44;
}

.div-sizing {
    cursor: pointer;
    padding: 10px;

}

.about-heading {
    font-size: 30px;
}
.required-field::after {
    content: "*";
    color: red;
}
.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 200px; /* Adjust the max height as needed */
}